:root
{
  --pink:#FD5C63;
  --black:#333333;
  --grey:#B7BECE;
}
*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
/*------------------------PRE-MADE CLASSES*/
.button-transparent
{
  background: transparent;
  color: var(--pink);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  padding: .8em 2em;
  border: 2px solid var(--pink);
}
/*-------------------------------------------*/
.centrar
{
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

.main
{
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.black
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
}
/*--------------------------------HEADER*/
header
{
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  cursor: pointer;
}
.logo h1
{
  font-size: 2.5em;
  letter-spacing: 7pt;
  color: white;
}
.logo h1:hover{
  color: var(--pink);
  transition: all 1000ms;
}
.user
{
  display: flex;
  align-items: center;
}
.search input{
  padding: .7em;
  margin: 0;
  border:0;
}
.search input[type="button"]
{
  background: var(--pink);
  padding: .7em .9em;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.search input[type="button"]:hover
{
  background: var(--black);
  transition: all 500ms;
}
.user-log
{
  border: 1px solid white;
  margin-left: 2em;
  padding: .2em .4em;
  cursor: pointer;
}
.user-log:hover
{
  border:1px solid var(--pink);
  background: var(--pink);
  transition: all 500ms;
}
.user-log i
{
  font-size: 1.3em;
  color: white;
}

/*---------------------------------------------MAIN*/

.menu
{
  max-width:750px;
  margin: 1.9em auto;
}
.menu ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu ul li{
  margin:0 10px;
}
.menu ul li a
{
  text-decoration: none;
  color: white;
  letter-spacing: 1pt;
}
.menu ul li a:hover
{
  text-decoration: underline;
  color: var(--pink);
  transition: all 500ms;
}

#first
{
  color: var(--pink);
}

/*---------------------------------------------PRINCIPAL INFORMATION*/

.main-contain
{
  padding-top: 4em;
  text-align: center;
  color: white;
}

.main-title h1
{
  font-size: 4em;
  letter-spacing: 1pt;
}
.main-title h3
{
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2.5pt;
  font-size: 2.5em;
  font-weight: 100;
  color: rgba(255,255,255,.9);
}
.main-bottom
{
  width: 40%;
  margin: 30px auto;
}
.main-bottom p
{
  line-height: 180%;
}
.main-bottom input
{
  color: white;
  margin-top: 2em;
  padding: .8em 2em;
  font-size: 1em;
  border:3px solid white;
  background: transparent;
  cursor: pointer;
  letter-spacing: 1pt;
}

.main-bottom input:hover
{
  border:3px solid var(--pink);
  background: var(--pink);
  transition: all 500ms;
}

/*----------------------------------------CONTENT*/

.information
{
  width: 80%;
  height: 350px;
  display: grid;
  grid-template: 1fr/repeat(3,1fr);
}
.info-detail
{
  padding-top: 1em;
  justify-content:center;
}
.info-img
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.info-img img
{
  width: 50px;
  height: 50px;
}
.info-text
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-top: 1px solid grey;
  padding: 0 1em;
}
.number
{
  width: 35px;
  height: 35px;
  background: var(--pink);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height:35px;
  font-weight: 600;
  position: absolute;
  top: -20px;
}
.text-detail
{
  margin-top: 2em;
}
.text-detail h2
{
  letter-spacing: 1pt;
}
.text-detail p
{
  margin-top: 1em;
  font-size: 1.2em;
  opacity: .7;
  line-height: 150%;
}

/*-----------------------------------FEATURES*/
.features
{
  display: grid;
  grid-template: 470px/650px 1fr;
  padding: 5em 0;
}
.features-img img
{
  width: 100%;
  height: 100%;
}
.features-detail
{
  padding: 0 4em;
}
.features-detail h1
{
  font-size: 3.2em;
  margin: .5em 0;
}
.features-detail p
{
  font-size: 1.2em;
  line-height: 170%;
  opacity: .7;
  margin-bottom: 1.3em;
}
.features-detail input:hover
{
  background: var(--pink);
  color: white;
  transition: all 500ms;
}

/*------------------------------------------PRODUCTS*/
.products
{
  text-align: center;
  width: 90%;
}
.product-title
{
  font-size: 2em;
  margin:1.5em 0;
  letter-spacing: 2pt;
}
.products h1
{
  font-size: 3em;
}
.products-list
{
  display: grid;
  grid-template: repeat(2,1fr)/repeat(3,1fr);
  grid-gap: 20px;
}
.products-list img
{
  width: 200px;
  height: 200px;
}
.product-detail
{
  padding: 1.3em;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}
.product-detail-first
{
  grid-column: span 2;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
  display: flex;
  align-items:center;
}
.product-detail-first h3,p
{
  opacity: .7;
  letter-spacing: 2pt;
  font-size: 1em;
}
.cost
{
  color: var(--pink);
  opacity: 1;
  font-weight: 700;
  letter-spacing: 0;
}
.product-text
{
  text-align: left;
  padding: 0 2em;
}
.first-text
{
  margin-top: 1em;
}
