:root
{
  --pink:#FD5C63;
  --black:#333333;
  --grey:#B7BECE;
  --grey-light:#F8F9FA;
  --blue:#0099E5;
  --green:#34BF49;
  --facebook:#3B5998;
  --twitter:#45B1F4;
  --google:#DD4B39;
  --linkedin:#0077B5;
}
*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
/*------------------------PRE-MADE CLASSES*/
.button-transparent
{
  background: transparent;
  color: var(--pink);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  padding: .8em 2em;
  border: 2px solid var(--pink);
}
/*-------------------------------------------*/
.centrar
{
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

.main
{
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.black
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
}
/*--------------------------------HEADER*/
header
{
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  cursor: pointer;
}
.logo h1
{
  font-size: 2.5em;
  letter-spacing: 7pt;
  color: white;
}
.logo h1:hover{
  color: var(--pink);
  transition: all 1000ms;
}
.user
{
  display: flex;
  align-items: center;
}
.search input{
  padding: .7em;
  margin: 0;
  border:0;
}
.search input[type="button"]
{
  background: var(--pink);
  padding: .7em .9em;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.search input[type="button"]:hover
{
  background: var(--black);
  transition: all 500ms;
}
.user-log
{
  border: 1px solid white;
  margin-left: 2em;
  padding: .2em .4em;
  cursor: pointer;
}
.user-log:hover
{
  border:1px solid var(--pink);
  background: var(--pink);
  transition: all 500ms;
}
.user-log i
{
  font-size: 1.3em;
  color: white;
}

/*---------------------------------------------MAIN*/

.menu
{
  max-width:750px;
  margin: 1.9em auto;
}
.menu ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu ul li{
  margin:0 10px;
}
.menu ul li a
{
  text-decoration: none;
  color: white;
  letter-spacing: 1pt;
}
.menu ul li a:hover
{
  text-decoration: underline;
  color: var(--pink);
  transition: all 500ms;
}

#first
{
  color: var(--pink);
}

/*---------------------------------------------PRINCIPAL INFORMATION*/

.main-contain
{
  padding-top: 4em;
  text-align: center;
  color: white;
}

.main-title h1
{
  font-size: 4em;
  letter-spacing: 1pt;
}
.main-title h3
{
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2.5pt;
  font-size: 2.5em;
  font-weight: 100;
  color: rgba(255,255,255,.9);
}
.main-bottom
{
  width: 40%;
  margin: 30px auto;
}
.main-bottom p
{
  line-height: 180%;
}
.main-bottom input
{
  color: white;
  margin-top: 2em;
  padding: .8em 2em;
  font-size: 1em;
  border:3px solid white;
  background: transparent;
  cursor: pointer;
  letter-spacing: 1pt;
}

.main-bottom input:hover
{
  border:3px solid var(--pink);
  background: var(--pink);
  transition: all 500ms;
}

/*----------------------------------------CONTENT*/

.information
{
  width: 80%;
  height: 350px;
  display: grid;
  grid-template: 1fr/repeat(3,1fr);
}
.info-detail
{
  padding-top: 1em;
  justify-content:center;
}
.info-img
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.info-img img
{
  width: 50px;
  height: 50px;
}
.info-text
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-top: 1px solid grey;
  padding: 0 1em;
}
.number
{
  width: 35px;
  height: 35px;
  background: var(--pink);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height:35px;
  font-weight: 600;
  position: absolute;
  top: -20px;
}
.text-detail
{
  margin-top: 2em;
}
.text-detail h2
{
  letter-spacing: 1pt;
}
.text-detail p
{
  margin-top: 1em;
  font-size: 1.2em;
  opacity: .7;
  line-height: 150%;
}

/*-----------------------------------FEATURES*/
.features
{
  display: grid;
  grid-template: 470px/650px 1fr;
  padding: 5em 0;
}
.features-img img
{
  width: 100%;
  height: 100%;
}
.features-detail
{
  padding: 0 3em;
}
.features-detail h1
{
  font-size: 3.2em;
  margin: .5em 0;
}
.features-detail p
{
  font-size: 1.2em;
  line-height: 170%;
  opacity: .7;
  margin-bottom: 1.3em;
}
.features-detail input:hover
{
  background: var(--pink);
  color: white;
  transition: all 500ms;
}

/*------------------------------------------PRODUCTS*/
.products
{
  text-align: center;
  width: 90%;
}
.product-title
{
  font-size: 2em;
  margin:1.5em 0;
  letter-spacing: 2pt;
}
.products h1
{
  font-size: 3em;
}
.products-list
{
  display: grid;
  grid-template: repeat(2,1fr)/repeat(3,1fr);
  grid-gap: 20px;
}
.products-list img
{
  width: 200px;
  height: 200px;
}
.product-detail
{
  padding: 1.3em;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
.product-detail-first
{
  grid-column: span 2;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  display: flex;
  align-items:center;
}
.product-detail-first h3,.product-detail-first p
{
  opacity: .7;
  letter-spacing: 2pt;
  font-size: 1em;
}
.cost
{
  color: var(--pink);
  opacity: 1;
  font-weight: 700;
  letter-spacing: 0;
}
.product-text
{
  text-align: left;
  padding: 0 2em;
}
.first-text
{
  margin-top: 1em;
}

/*---------------------------------------------PLANS*/
.plans
{
  text-align: center;
  background: var(--grey-light);
  width: 100%;
}
.plans-title
{
  font-size: 3.5em;
  letter-spacing:5pt;
  margin-top: 2em;
  padding: 2em 0 0 0;
  margin-bottom: 1em;
}
.time
{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.time-item
{
  width: 150px;
  height: inherit;
  background: grey;
  color: white;
  margin: 1px;
  border-radius: 5px;
}
.time-item p
{
  line-height: 50px;
}
.timefirst
{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: black;
}
.timelast
{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.plans-list
{
  display: flex;
}
.plan-detail
{
  height: 450px;
  margin: 4em 1em;
}
.plan-price
{
  height: 40%;
  background: red;
  color: white;
  font-size: 2em;
  letter-spacing: 2pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-text
{
  padding: 1.5em 1em;
  opacity: .7;
  letter-spacing: 2pt;
}
.info-list
{
  font-size: 1.2em;
  margin: 5px 0;
  letter-spacing: 1.8pt;
}
.icon-state
{
  margin:0 10px;
}
.plan-information
{
  background: white;
}
.plan-information input
{
  margin-top: 1.5em;
  font-size: 1em;
  padding: 10px 30px;
  border: 0;
  color: white;
  cursor: pointer;
}
.plan1
{
  background: var(--blue);
}
.plan2
{
  background: var(--green);
}
.plan3
{
  background: var(--pink);
}

/*------------------------------------------MEMBERS*/
.members
{
  text-align: center;
  padding-top: 4em;
}
.members h1
{
  font-size: 3em;
  margin-bottom: 1.5em;
  letter-spacing: 2pt;
  font-weight: 400;
}
.members-info
{
  display: grid;
  grid-template: 100px 1fr/400px 1fr;
  grid-template-areas: "area1 area2" "area1 area3";
}
.user-principal
{
  grid-area: area1;
}
.user-principal img
{
  width: 100%;
  height: 100%;
}
.members-list
{
  gird-area:area2;
}
.members-list ul
{
  display: flex;
  list-style: none;
}
.members-list ul li
{
  margin: 0 1em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
.members-detail
{
  grid-area: area3;
  padding: 1.5em 1em;
  text-align: left;
}
.members-detail h2
{
  font-size: 2em;
  letter-spacing: 2pt;
}
.members-detail h3
{
  opacity: .7;
}
.members-detail p
{
  padding: 1.5em 0;
}
.social ul
{
  display:flex;
  list-style: none;
}
.social ul li a
{
  text-decoration: none;
  color: white;
}
.social ul li
{
  margin: 0 .5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  cursor: pointer;
}
.social ul li:first-of-type
{
  color: black;
}
.facebook
{
  background: var(--facebook);
}
.twitter
{
  background: var(--twitter);
}
.google
{
  background: var(--google);
}
.linkedin
{
  background: var(--linkedin);
}
